$color-primary: #0a3265;
$color-primary-light: #0b6df4;
$color-primary-light-2: #2b72d0;

$color-secondary: #27ae60;

$color-focus: #007bff;
$color-focus-outline: #3399ff;

$color-grey-light: #f7f9fd;
$color-grey-light-2: #e4ebf9;
$color-grey-light-3: #ccc;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;

$color-success: #27ae60;
$color-success-light: #f4fbf7;

$color-info: #2b72d0;
$color-info-light: #f4f8fd;

$color-error: #ff5247;
$color-error-light: #fff6f6;

$color-warning: #ffce70;
$color-warning-light: #fffdf8;
